
            body { 
            background-image: url("pic2.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;

            background-color: #FF8080;
            color: whitesmoke;
            font-family: Geneva, Tahoma, sans-serif;
            /* font-weight: lighter; */
            /* font-weight: bold; */
            /* font-weight: bolder; */
            font-weight: normal;
            background-image: "back.jpg";
            border-color: aqua;
            border-width: 5px;
            border-style: solid;
            /* margin:0; */
            border:black  10px solid;
            font-size: 20px;
            } 

            